:root {
  --defaultDark: #1e3050;
  --defaultLight: #f2f5f6;
  --lightBgColorDark: #c7d7f0;
  --lightBgColorLight: #f2f5f6;
  --boxBg: linear-gradient(to bottom left, var(--lightBgColorLight), var(--lightBgColorDark));
  --sliderIcon: url(https://raw.githubusercontent.com/ian-mendes02/resources/579c7eaf8d884ab291678e5473e59c61ec092318/logos/sun-dark.svg);
  --sliderBgColor: var(--defaultDark);
  --sliderColor: var(--defaultLight);
  --profilePic: url(../img/perfil.png);
}

[data-theme=dark] {
  --defaultDark: #f2f5f6;
  --defaultLight: #1e3050;
  --lightBgColorDark: #2f5075;
  --lightBgColorLight: #5e8ec5;
  --sliderBgColor: var(--defaultDark);
  --sliderColor: var(--lightBgColorLight);
  --boxBg: linear-gradient(to bottom left, var(--lightBgColorLight), var(--lightBgColorDark));
  --sliderIcon: url(https://raw.githubusercontent.com/ian-mendes02/resources/28f57a0388967d45cdd421fad23108af82f0688d/logos/moon.svg);
  --profilePic: url(../img/perfil-dark.png);
}

[data-theme-toggle=container] {
  --buttonWidth: 3vw;
  width: var(--buttonWidth);
  aspect-ratio: 3/1.5;
  margin: 1vw;
  border-radius: calc(var(--buttonWidth) * 10);
  background-color: var(--sliderBgColor);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2.5px 10px -1px inset, rgba(0, 0, 0, 0.3) 0px 0.75px 2px -1.5px inset;
  border: solid 0.1vw rgba(255, 255, 255, 0.4470588235);
  position: relative;
  cursor: pointer;
}

[data-theme-toggle=container] [data-theme-toggle=slider] {
  border-radius: 50%;
  aspect-ratio: 1/1;
  top: 50%;
  transform: translate(-10%, -50%);
  width: calc(var(--buttonWidth) / 1.5);
  height: calc(var(--buttonWidth) / 1.5);
  background-color: var(--sliderColor);
  background-image: var(--sliderIcon);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: filter 0.1s ease-in, left 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  position: absolute;
  left: 0;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 50%;
  transform: translate(-10%, -50%);
}

[data-theme=dark] [data-theme-toggle=slider] {
  left: calc(var(--buttonWidth) / 2);
}

[data-theme=light] [data-theme-toggle=slider] {
  left: 0;
}

[data-theme-toggle=container] [data-theme-toggle=slider]:hover {
  filter: brightness(98%);
}

body, html {
  font-family: "Bahnschrift", sans-serif;
  color: var(--defaultDark);
  background-color: var(--defaultLight);
  background-image: var(--boxBg);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

section {
  position: relative;
  padding: 2.5vw 0;
}

.content {
  max-width: 100%;
}

.content-default {
  display: flex;
  margin: auto;
  width: 80%;
}

.wrapper {
  display: flex;
  flex-basis: content;
}

.container {
  display: flex;
  flex-direction: column;
}

h1, h2, h3, span, p, img {
  display: block;
}

img {
  user-select: none;
}

h1 {
  font-size: 1.5vw;
  font-weight: 700;
}

h2 {
  font-size: 1.25vw;
  font-weight: 500;
}

p, span {
  font-size: 1vw;
  font-weight: 300;
}

mark {
  background: transparent;
}

.blue {
  color: #0986bf;
}

.line {
  display: flex;
  flex-basis: 100%;
}

.divider {
  height: 0.05vw;
  flex-grow: 1;
  margin: auto 2vw;
  background-image: radial-gradient(var(--defaultDark), rgba(255, 255, 255, 0));
  opacity: 0.5;
}

#logo {
  user-select: none;
}

.topnav {
  background-color: #2f5075;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  margin: 0 1vw;
  border-radius: 0 0 1vw 1vw;
}
.topnav a {
  color: #fff;
  user-select: none;
  font-size: 2vw;
  margin: auto 1vw;
  cursor: pointer;
  transition: 0.1s ease-out;
}
.topnav a:hover {
  filter: brightness(90%);
}
.topnav .content-default {
  justify-content: end;
}

[data-theme=dark] .topnav {
  background-color: #1e3050;
}

.mobile-nav {
  display: none;
}

#name-jumbo {
  font-family: "Lucida Console", sans-serif;
  letter-spacing: -5px;
  font-size: 4.5vw;
  font-weight: 700;
}
#name-jumbo:before, #name-jumbo::after {
  color: var(--defaultDark);
}
#name-jumbo::before {
  content: "<";
}
#name-jumbo::after {
  content: "/" ">";
}

[data-theme=dark] #name-jumbo {
  color: #adff2f;
}
[data-theme=dark] #name-jumbo .blue {
  color: rgb(0, 183, 255);
}

.profile {
  user-select: none;
  padding-bottom: 0;
}
.profile .content .content-default {
  justify-content: center;
}
.profile .content .content-default .wrapper {
  align-items: center;
  flex-basis: 0;
}
.profile .content .content-default img {
  width: 32vw;
  margin: 0;
}
.profile .content .content-default span, .profile .content .content-default p {
  margin: 1vw 0;
  display: inline-flex;
  text-align: center;
}

#profile-pic {
  height: 25vw;
  width: 25vw;
  background-image: var(--profilePic);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.body {
  background-color: var(--defaultLight);
  padding-top: 0;
  margin: 0 1vw 1vw 1vw;
  border-radius: 1vw;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

#navlinks {
  justify-content: center;
}
#navlinks .container {
  margin: 1vw;
  align-items: center;
}
#navlinks .button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  aspect-ratio: 1;
  width: 3vw;
  background-color: #2f5075;
  transition: 0.2s ease-out;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  backface-visibility: hidden;
  cursor: pointer;
}
#navlinks .button:hover {
  filter: brightness(125%);
  transform: scale(101%);
}
#navlinks .button:active {
  transform: scale(99%);
}
#navlinks .button i {
  color: #fff;
  font-size: 1.5vw;
}

.portfolio .content-default {
  flex-direction: column;
  padding: 2.5vw 0;
}
.portfolio #portfolio-pages {
  flex-flow: row wrap;
}
.portfolio .container {
  background-image: var(--boxBg);
  border-radius: 0.5vw;
  overflow: hidden;
  width: 17.5vw;
  position: relative;
  user-select: none;
  transition: 0.1s ease-out;
  backface-visibility: hidden;
  transform-origin: center center;
  margin: 0.5vw;
  padding: 0.25vw;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.portfolio .container a, .portfolio .container a:active, .portfolio .container a:visited {
  color: var(--defaultDark);
  text-decoration: none;
  font-weight: 300;
  margin: 0.5vw;
  font-size: 0.8vw;
}
.portfolio .container a:hover {
  text-decoration: underline;
}
.portfolio .container:hover {
  transform: scale(102%);
}
.portfolio .thumbnail {
  cursor: pointer;
  width: 100%;
  aspect-ratio: 16/9;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: inherit;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.competencias .content-default {
  flex-direction: column;
}
.competencias .container {
  flex-basis: 100%;
}
.competencias .line {
  margin: 0.75vw 0;
  align-items: center;
}
.competencias .wrapper {
  align-items: start;
}
.competencias p, .competencias i {
  color: var(--defaultDark);
}
.competencias p {
  font-size: 0.9vw;
  max-width: 80%;
}
.competencias i {
  margin: 0 0.5vw;
  font-size: 2vw;
}
.competencias svg {
  width: 1.75vw;
  fill: var(--defaultDark);
  margin: 0 0.5vw;
}

.contato .content-default {
  flex-direction: column;
}
.contato .line {
  flex-basis: content;
}
.contato a {
  display: flex;
  flex-basis: content;
  align-items: center;
  color: var(--defaultDark);
  user-select: none;
  font-size: 2vw;
  margin: 1vw;
  cursor: pointer;
  transition: 0.1s ease-out;
  text-decoration: none;
  padding: 0.5vw;
  border-radius: 1vw;
}
.contato a i {
  margin: auto 0.75vw auto 0;
}
.contato a:hover {
  backdrop-filter: brightness(90%);
}

@media screen and (max-width: 768px) {
  [data-theme-toggle=container] {
    --buttonWidth: 12.5vw;
  }
  section {
    position: relative;
    padding: 2.5vw 0;
  }
  .content {
    max-width: 100%;
  }
  .content-default {
    display: flex;
    width: 100%;
    padding: 0 5vw;
  }
  h1 {
    font-size: 5vw;
  }
  h2 {
    font-size: 4vw;
  }
  p, span {
    font-size: 3.5vw;
  }
  .topnav a {
    font-size: 6vw;
    margin: auto 2vw;
  }
  .topnav .content-default {
    justify-content: center;
  }
  .topnav .wrapper {
    flex-basis: 100%;
    justify-content: space-between;
  }
  #name-jumbo {
    letter-spacing: normal;
    font-size: 10vw;
    text-align: center;
  }
  .profile {
    user-select: none;
    padding-bottom: 0;
    padding-top: 10vw;
  }
  .profile .content .content-default {
    justify-content: center;
  }
  .profile .content .content-default .wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }
  .profile .content .content-default .wrapper .wrapper {
    flex-direction: row;
  }
  .profile .content .content-default img {
    width: 50vw;
    margin: 0;
  }
  .profile .content .content-default span, .profile .content .content-default p {
    margin: 2vw 0;
    display: inline-flex;
    text-align: center;
  }
  #profile-pic {
    height: 50vw;
    width: 50vw;
  }
  .body {
    background-color: var(--defaultLight);
    padding-top: 0;
    margin: 0 1vw 1vw 1vw;
    border-radius: 1vw;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
  #navlinks .container {
    margin: 2vw;
  }
  #navlinks .button {
    width: 12.5vw;
  }
  #navlinks .button i {
    font-size: 5vw;
  }
  .portfolio h1 {
    text-align: center;
  }
  .portfolio #portfolio-pages {
    flex-flow: row wrap;
  }
  .portfolio .container {
    background-image: var(--boxBg);
    border-radius: 0.5vw;
    overflow: hidden;
    width: 80vw;
    position: relative;
    user-select: none;
    transition: 0.1s ease-out;
    backface-visibility: hidden;
    transform-origin: center center;
    margin: 2vw auto;
    padding: 0.25vw;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
  .portfolio .container a, .portfolio .container a:active, .portfolio .container a:visited {
    margin: 2vw;
    font-size: 3vw;
  }
  .competencias h1, .competencias h2 {
    text-align: center;
  }
  .competencias .wrapper {
    flex-direction: column;
    align-items: center;
    flex-basis: 100%;
  }
  .competencias .wrapper .container {
    margin: 5vw 0;
  }
  .competencias .wrapper .container .container {
    flex-direction: row;
  }
  .competencias .wrapper .container .wrapper {
    flex-direction: column;
    align-items: start;
  }
  .competencias .wrapper .container .line {
    flex-direction: column;
    margin: 3vw;
  }
  .competencias .line {
    margin: 2vw 0;
    align-items: center;
  }
  .competencias p {
    font-size: 3.5vw;
    max-width: 80%;
    margin: auto;
  }
  .competencias i {
    margin: 0 0.5vw;
    font-size: 7.5vw;
  }
  .competencias svg {
    width: 6vw;
    margin: 0 0.5vw;
  }
  .competencias span {
    text-align: center;
    margin-top: 2vw;
  }
  .contato h1 {
    text-align: center;
  }
  .contato .content-default {
    flex-direction: column;
  }
  .contato .line {
    flex-basis: content;
    flex-direction: column;
  }
  .contato .container {
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
  }
  .contato a {
    flex-direction: column;
    font-size: 7.5vw;
    margin: 1vw;
  }
  .contato a i {
    margin: 2vw auto;
  }
}

/*# sourceMappingURL=style.css.map */
