#my-bg {
    width: 100%;
    background-image: linear-gradient(to bottom right, #58b5bb, #0086ad);
    background-image: -moz-linear-gradient(to bottom right, #58b5bb, #0086ad);
    background-image: -webkit-linear-gradient(to bottom right, #58b5bb, #0086ad);
    position: relative;
    margin: 0;
}
.semi-condensed {
    font-stretch: semi-condensed;
}
.square {
    aspect-ratio: 1;
}
.floating-button {
    z-index: 3;
    border: 5px solid white;
    transition: 0.1s ease-in;
    max-width: 50px;
    max-height: 50px;
    box-sizing: border-box;
    aspect-ratio: 1;
    border-radius: 50%;
    -moz-border-radius : 50%;
    -webkit-border-radius : 50%;
    color: white;
    background: white;
    width: 7rem;
    transition: 0.2s ease-in-out;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
#top-button {
    position: fixed ;
    right: -100px;
    bottom: 25px;
}
#whatsapp-button {
    position: fixed;
    right: -100px;
    bottom: 85px;
    background: white;
}
.floating-button:hover {
    transform: scale(102%);
}
.myButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
    box-sizing: border-box;
    aspect-ratio: 1;
    border-radius: 50%;
    -moz-border-radius : 50%;
    -webkit-border-radius : 50%;
    color: white;
    background-color: #009fb5;
    background-image: linear-gradient(to bottom right, #7ed4db, #0086ad);
    background-image: -moz-linear-gradient(to bottom right, #7ed4db, #0086ad);
    background-image: -webkit-linear-gradient(to bottom right, #7ed4db, #0086ad);
    background-size: 700%;
    background-position: 80%;
    width: 7rem;
    transition: 0.2s ease-in-out;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.button-parent {
    margin-left: 2rem;
    margin-right: 2rem;
}
.button-parent:hover .insta-button  {
    transform: scale(101%) translateY(-3px);
    background-position: 50%;    
}
.button-parent:hover .wpp-button{
    transform: scale(101%) translateY(-3px);
    background-position: 10%;   
}
.button-parent:active .myButton, .button-parent:active .insta-button, .button-parent:active .wpp-button {
    transform: scale(99%);
}
.button-parent:hover .myButton {
    transform: scale(101%) translateY(-3px);
    background-position: 0%;
}
.wpp-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
    box-sizing: border-box;
    aspect-ratio: 1;
    border-radius: 50%;
    -moz-border-radius : 50%;
    -webkit-border-radius : 50%;
    color: white;
    background-color: #25d366;
    background-image: linear-gradient(to bottom right, #69ffa0, #25d366);
    background-image: -moz-linear-gradient(to bottom right, #69ffa0, #25d366);
    background-image: -webkit-linear-gradient(to bottom right, #69ffa0, #25d366);
    background-size: 700%;
    background-position: 80%;
    width: 7rem;
    transition: 0.2s ease-in-out;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.insta-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
    box-sizing: border-box;
    aspect-ratio: 1;
    border-radius: 50%;
    -moz-border-radius : 50%;
    -webkit-border-radius : 50%;
    color: white;
    background-color: #fc01c9;
    background-image: linear-gradient(to bottom right,#830afb, #fc01c9,#ffbd01);
    background-image: -moz-linear-gradient(to bottom right, #830afb, #fc01c9,#ffbd01);
    background-image: -webkit-linear-gradient(to bottom right, #830afb, #fc01c9,#ffbd01);
    background-size: 700%;
    background-position: 80%;
    width: 7rem;
    transition: 0.2s ease-in-out;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.insta-bg {
    background-color: #fc01c9;
    background-image: linear-gradient(15deg, #830afb, #fc01c9,#ffbd01);
    background-image: -moz-linear-gradient(15deg, #830afb, #fc01c9,#ffbd01);
    background-image: -webkit-linear-gradient(15deg, #830afb, #fc01c9,#ffbd01);
    background-size: 300%;
    background-position: 80%;
}
.wpp-bg {
    background-color: #25d366;
    background-image: linear-gradient(to bottom right, #69ffa0, #25d366);
    background-image: -moz-linear-gradient(to bottom right, #69ffa0, #25d366);
    background-image: -webkit-linear-gradient(to bottom right, #69ffa0, #25d366);
    background-size: 700%;
    background-position: 80%;
}
.blue-bg {
    background-color: #009fb5;
    background-image: linear-gradient(to bottom right, #7ed4db, #0086ad);
    background-image: -moz-linear-gradient(to bottom right, #7ed4db, #0086ad);
    background-image: -webkit-linear-gradient(to bottom right, #7ed4db, #0086ad);
    background-size: 700%;
    background-position: 80%;
}
  
.button-shadow {
    display: block;
    box-sizing: border-box;
    border-radius: 50%;
    -moz-border-radius : 50%;
    -webkit-border-radius : 50%;
    color: white;
    background-color: #009fb5;
    width: 7rem;
    height: 0.5rem;
    transition: 0.2s ease-in-out;
    transition-delay: 0.1s;
    filter: opacity(0%) blur(0px);
}
.button-parent:hover .button-shadow {
    filter: opacity(25%) blur(5px);
}        
.button-icon {
    aspect-ratio: 1;
    max-width: 60%;
    margin: auto;
}

.icon-description {
    display: inline;
    box-sizing: border-box;
    color: #0e3b45;
    margin: auto;
    margin-left: 5rem;
    margin-right: 5rem;
    text-align: center;
    height: 3.5rem;
    font-size: 1rem;
    font-weight: 300;
    font-stretch: semi-condensed;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
.my-item, .my-item:active, .my-item:visited {
    color: #0e3b45;
    text-decoration: none;
    transition: ease-in-out 0.1s;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.my-item:hover {
    color:#0086ad;
    text-decoration: none;
}
.scale-to-parent {
    width: 100%;
}
.divider {
    display: block;
    box-sizing: border-box;
    height: 1px;
    width: 80%;
    border: solid 1px #0e3b45;
}
#top-spacer {
    height: 10rem;
}
#page-body {
    padding: 5rem;
    padding-top: 10rem;

}
#name-title {
    font-size: 4rem;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.section-header {
    font-size: 3rem;
    font-weight: bold;
    color: #0e3b45;
    text-align: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.mobile-button {
    display: flex;
    margin: auto;
    height: 5rem;
    width: 100%;
    border-radius: 2rem;
    color: white;
    font-weight: 400;
    transition: 0.1s ease-in;
    font-size: 3vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

}
.mobile-button .insta-button {
    display: flex;
    margin: auto;
    height: 5rem;
    width: 100%;
    background-color: #830afb;
    background-image: linear-gradient(15deg, #830afb, #fc01c9,#ffbd01);
    background-image: -moz-linear-gradient(15deg, #830afb, #fc01c9,#ffbd01);
    background-image: -webkit-linear-gradient(15deg, #830afb, #fc01c9,#ffbd01);
    background-size: 300%;
    background-position: 80%;
    border-radius: 2rem;
    color: white;
    font-weight: 400;
    transition: 0.1s ease-in;
    font-size: 3vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

}
.mobile-button .wpp-button {
    display: flex;
    margin: auto;
    height: 5rem;
    width: 100%;
    background-color: #25d366;
    background-image: linear-gradient(to bottom right, #69ffa0, #25d366);
    background-image: -moz-linear-gradient(to bottom right, #69ffa0, #25d366);
    background-image: -webkit-linear-gradient(to bottom right, #69ffa0, #25d366);
    background-size: 700%;
    background-position: 80%;
    border-radius: 2rem;
    color: white;
    font-weight: 400;
    transition: 0.1s ease-in;
    font-size: 3vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

}
.button-icon-mobile {
    aspect-ratio: 1;
    max-width: 5vw;
    max-height: 5vw;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2vw;
}
.mobile-button::after {
    content: '\25B8';
    font-size: 5vw;
    font-weight: bold;
    color: white;
    margin-right: 2vw;
    margin-top: auto;
    margin-bottom: auto;
}
.mobile-button > span {
    margin: auto;
}
.blue-bg:active, .insta-bg:active, .wpp-bg:active {
    transform: scale(99%);
}
.no-decor, .no-decor:active, .no-decor:hover, .no-decor:visited {
    text-decoration: none;  
}
.my-tag {
    display: flex;
    box-sizing: border-box;
    border-radius : 50px;
    -moz-border-radius : 50px;
    -webkit-border-radius : 50px;
    padding: 0.25rem;
    background-color: #009fb5;
    color: white;
    justify-content: center;
    width: 80%;
    font-size: 1.2rem;
    font-stretch: semi-condensed;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.separator {
    height: 10rem;
}

.section-descript {
    color: #0e3b45;
    font-size: 1.3rem;
    font-stretch: semi-condensed;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.section-descript-sub {
    color: #618891;
    font-size: 1rem;
    font-stretch: semi-condensed;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.square-frame {
    box-sizing: border-box;
    display: block;
    padding: 1.5rem;
    aspect-ratio: 1;
    max-width: 15rem;
    min-width: 10rem;
}
.text-box {
    max-width: 50%;                
}
.nav-logo {
    max-width: 8rem;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.my-nav {
    font-size: 0.8rem;
}


/*hamburger menu css*/
.hamburger-menu {
    display: inline-block;
    cursor: pointer;
    border: none;
    background-color: white;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #0e3b45;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 3px;
}

#profile-pic {
    aspect-ratio: 1; 
    width: 75vw;
    max-width: 300px; 
}
#profile-frame {
    margin-top: 10rem;
}


    /* service box css*/

.service-box {
    box-sizing: border-box;
    display: block;
    width: 80%;
    position: relative;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 5px;
    background-clip: padding-box;
    background: #009fb5;
    background: linear-gradient(to bottom right, #7ed4db, #0086ad);
    background: -moz-linear-gradient(to bottom right, #7ed4db, #0086ad);
    background: -webkit-linear-gradient(to bottom right, #7ed4db, #0086ad);
    background-size: 700%;
    background-position: 80%;
    transition: background-position 0.2s ease-in-out, max-height 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    border-radius: 2rem;
}

.service-box > * {
    box-sizing: border-box;
    }   

.service-box.box-collapsed {
    background-position: 80%;
}


.service-box.box-collapsed:hover {
    background-position: 25%;
}

.service-box.box-expanded {
    background-position: 25%;
    cursor: default;
}

.service-header {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin-top: 0;
    height: 5rem;
    padding: 1.5rem;
    width: 100%;
    color: white;
    font-weight: 400;
    font-size: 2vw;
    min-width: 3rem;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.service-icon {
    aspect-ratio: 1;
    max-width: 5vw;
    max-height: 5vw;
    max-width: 50px;
    margin-right: 1.5rem;
    position: absolute;
    left: 3vw;
    top:auto;
    bottom:auto;
}

.service-header::after {
    content: '\25B8';
    font-weight: bold;
    color: white;
    position: absolute;
    right: 3vw;
    top:auto;
    bottom:auto;
    font-size: 5vw;
    transform: rotate(90deg);
    transition: 0.2s ease-in;
}
.service-header > span {
    position: absolute;
    margin: auto;
}

.service-box.box-expanded .service-header::after {
    transform: rotate(0deg);
}

.service-content {
    display: flex;
    height: 0;
    padding: 0;
    background-color: white;
    border-radius: inherit;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    overflow: hidden;
    transition: height 0.4s;
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95)
}

.service-content > ::-webkit-scrollbar {
    background-color: white;
    width: 10px;
}

.service-content > ::-webkit-scrollbar-thumb {
    border-radius: 2rem;
    background: rgba(172, 208, 221, 0.8);
    border: 3px solid rgb(255, 255, 255);
    align-self: center;
}

.service-content > ::-webkit-scrollbar-thumb:hover {
    background: rgba(160, 196, 210, 1);
}

.service-content > ::-webkit-scrollbar-thumb:active {
    background: rgba(143, 176, 189, 1);
}

.list-container {
    display: flex;
    width: 30%;
    padding: 0;
    margin: 0;             
    overflow-y: auto;
    background-color: #bfdfea;
    border-radius: inherit;
    border-bottom-right-radius: 0;
}

.service-list {
    display: flex;
    width: 100%;
    height: inherit;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 1rem;
    border-radius: inherit;
    border-bottom-right-radius: 0;
    background-color: #bfdfea;
}

.service-list > li {
    color: #0e3b45;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 3px solid #acd0dd;
    transition: 0.1s ease-in;
    cursor: pointer;
    min-height: 2rem;
    padding: 1rem;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.service-list-item {
    padding: 15% !important;
}

.service-list > li:nth-of-type(even) {
    background-color: #bfdfea;
}
.service-list > li:nth-of-type(odd) {
    background-color: #d7e9f0;
}
.service-list > li:hover {
    background-color: #bdd9e4
}
.service-list-item {
    text-align: center !important;
    padding: 15% !important;
}

.service-description {
    display: block;
    height: 100%;
    text-align: left;
    overflow-y: auto;
    position: relative;
    margin: 1rem;
    margin-right: 0.2rem;
    width: 80%;
    padding-left: 1rem;
    padding-right: 3rem;
    background: white;
    border-top-right-radius: 0;
}
.service-box-title {
    color: #0e3b45;
    font-size: 1.3rem;
    font-stretch: semi-condensed;
    font-weight: 500;
    line-height: 3rem;
}
.service-box-description {
    color: #0e3b45;
    font-size: 1rem;
    font-stretch: semi-condensed;
}
.menu-select-prompt {
    color: #618891;
    font-size: 0.8rem;
    font-stretch: semi-condensed;
}
.service-price {
    font-weight: 300;

}


.no-decor, .no-decor:active, .no-decor:hover, .no-decor:visited {
    text-decoration: none;  
}
.hidden {
    display: none;
}
@media screen and (max-width: 4000px) {
    .service-header {
        font-size: 2rem;
    }
    .service-header::after {
        font-size: 4rem;
    }
}
@media screen and (max-width: 2560px) {
    .service-header > span {
        font-size: 1.5vw;
    }
    .service-header::after {
        font-size: 2vw;
    }
    .my-item {
        font-size: 1.25rem;
    }
    .icon-description {
        font-size: 1.8rem;
    }
    .service-list-item {
        font-size: 1.5rem;
        font-weight: 300;
        padding: 1rem;
    }
    .service-box-description {
        font-size: 1.5rem;
        font-weight: 300;
    }
    .service-description {
        margin-top: 3vh;
    }
    .about {
        font-size: 1.5rem;
    }
    .menu-select-prompt {
        font-size: 1.5rem;
        font-weight: 300;
    }
    .service-box-title {
        font-size: 2rem;
        font-weight: 400;
    }
}
@media screen and (max-width: 1440px) {
    .icon-description {
        font-size: 1.5rem;
    }
    .about {
        font-size: 1.25rem;
    }
    .service-list-item {
        font-size: 1.25rem;
        font-weight: 300;
        padding: 3%;
    }
    .service-description > * {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 1280px) {
    .icon-description {
        font-size: 1.5rem;
    }
    .about {
        font-size: 1.25rem;
    }
    .service-list-item {
        font-size: 0.8rem;
        font-weight: 300;
    }
    .service-description > *, .service-price {
        font-size: 1rem;
    }
    .my-item {
        font-size: .8rem
    }
    .service-box-title {
        font-size: 1rem;
        font-weight: 400;
    }
}   

@media screen and (max-width: 1024px) {

    #name-title {
        font-size: 3.5rem;
    }
    .my-tag {
        font-size: 1rem;
        width: 12rem;
        
    }
    .divider {
        width: 5vw
    }
    .section-header {
        line-height: 3rem;
    }
    #my-bg{
        margin: 0;
    }
    #profile-frame {
        margin-top: 10rem;
    }
    #top-spacer {
        height: 10rem;
    }
    }

@media screen and (max-width: 768px) {
    #page-body {
        padding: 1rem;
        padding-top: 10rem
    }

    #name-title {
        font-size: 2.5rem;
    }
    .section-descript {
        color: #0e3b45;
        font-size: 1rem;
    }
    .section-descript-sub {
        color: #618891;
        font-size: 0.8rem;
    }
    .separator {
        height: 5rem;
    }
    .section-header {
        line-height: 3rem;
        margin: 0;
        font-size: 2rem;
    }
    
    .service-content > * {
        line-height: 1.8rem;
    }

    .service-box.service-box.box-collapsed:hover {
        background-position: 80%;
    }
    .button-icon-mobile {
        max-width: 7vw;
        max-height: 7vw;
    }
    .mobile-button {
        font-size: 4vw;
    }
    .service-icon {
        max-width: 8vw;
        max-height: 8vw;
    }
    
    .service-list-item {
        font-weight: 300;
        line-height: normal;
        font-size: 100%;
        border-radius: 0;
        padding: 5% !important;
    }
    .service-list > li:last-of-type {
        border-bottom: none;
    }
    .list-container {
        width: 100%;
        height: 30%;
        border-bottom: 5px solid #009fb5;
        border-radius: 0;
    }
    .service-header > span {
        font-size: 3.25vw;
        font-weight: 400;
    }
    .service-box-title {
    font-size: 4vw;
    font-weight: 400;
    line-height: normal;
    }
    .service-content {
        display: block;
    }
    .service-description {
        width: 100%;
        height: 60%;
        text-align: left;
    }
    .service-box-description {
    font-size: 2.5vw;
    font-weight: 300;
    margin: 10px;
    margin-left: 0;
    height: 80%;
    }
    
    .menu-select-prompt {
    font-size: 2vw;
    font-weight: 300;
    }
    .service-header::after {
    font-size: 4vw;
    }
    .service-price-text, .service-price {
        font-weight: 300;
        font-size: 2vw;
    }
}
@media screen and (max-width: 425px) {
    .service-content > * {
        line-height: 1.3rem;
    }
    #profile-pic {
        max-width: 200px;
    }
    #profile-frame {
        max-width: 90vw;

    }
    .list-container {
        height:30%;
        width: 100%;
    }
    .service-box-description {
        font-size: 3.5vw;
    }
    .service-description {
        height: 70%;
        width: 100%;
    }
    .menu-select-prompt {
        font-size: 3vw;
    }
    .service-list-item {
        font-size: 2.8vw;
    }
    .service-price, .service-price-text {
        font-size: 3vw;
    }
}
@media screen and (max-width: 375px) {
    .service-list-item {
        padding: 5px;
    }
    .menu-select-prompt {
        font-weight: 300;
        font-size: 3vw;
    }
}
